@font-face {
  font-family: 'Inter';
  src: url('./inter.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

.oppositeInline {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.biggerBolder {
  font-size: 20px;
  font-weight: bold;
}

.smallText {
  font-size: 12px;
  font-weight: 200;
  margin-top: 20px;
}

.outerWrap {
  background-color: #ffffff;
  color: #3f3f3f;
  font-family: 'Inter';
  border-width: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

.innerWrap {
  display: flex;
  padding: 0px;
  flex-direction: column;
  width: 60%
}

.aListWrap {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  padding: 5px;
  max-height: 60vh;
  overflow-y: auto;
}

.questionList{
  max-height: 60vh;
  overflow-y: auto;
}

.aListEntry {
  padding: 5px;
  margin-top: 10px;
}

b {
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-family: 'Inter';
  font-weight: lighter;
}

.rightSideQ {
  font-size: 14px;
}

.qHelpful {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.reportAnA {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.reportAnA:hover {
  font-weight: bold;
}

.qAddA {
  margin-left: 5px;
  text-decoration: underline;
  margin-right: 5px;
}

.qHelpful:hover {
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  cursor: pointer;
}

.qAddA:hover {
  margin-left: 5px;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  cursor: pointer;
}

.croppedUpload {
  height:100px;
  width: auto;
}

.photoThumbDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.croppedPic {
  height:100px;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.errorText {
  color: red;
}

.aListWrapper {
  margin-right: 5px;
}
// Imported modal stuff.

.fullPic {
  height:80vh;
  margin-right: 20px;
  margin-top: 10px;
}

.modalButton {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.modalTitle {
  position: absolute;
  top: 2%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.modalEntry {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  top: 15%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
  color: white;
}

.addAnswerEntry {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.addQuestionEntry {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.warningInputText {
  font-size: 12px;
  font-style: italic;
}
.selectPhotoButton {
  display: flex;
  justify-content: center;
}

textarea[name="answer"] {
  height: 30%;
}

.modalImage {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  display: flex;
  justify-content: center;
  left: 0;
  top: 6%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

// ALL this stuff imported button stuff.
.qbutton {
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-color: #3f3f3f;
  color: #3f3f3f;
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  cursor: pointer;
}

.qbutton:hover {
  background-color: #3f3f3f;
  border: solid;
  border-width: 1px;
  border-color: #3f3f3f;
  color: #ffffff;
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  cursor: pointer;
}

.qButtonDiv {
  padding: 10px;
  display: flex;
  justify-content: left;
}

.ebutton {
  background-color: #ffffff;
  border: solid;
  display: flex;
  padding: 5px;
  border-width: 1px;
  border-color: #3f3f3f;
  margin: auto;
  margin-top:  5px;
  margin-bottom: 5px;
  width: 20%;
  color: #3f3f3f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.ebutton:hover {
  background-color: #3f3f3f;
  border-color: #ffffff;
  color: #ffffff;
}

.abutton {
  background-color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  margin-top: 10px;
  cursor: pointer;
}

.abutton:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.abutton::before {
  display: block;
  content: attr(gtitle);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

// All this is imported searchbar stuff.
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
}

div + div {
  margin-left: 0px;
}
.searchTerm {
  width: 100%;
  border: 1px solid #6e6e6e;
  padding: 5px;
  height: 10px;
  outline: none;
  color: #6e6e6e;
  font-size: 16px;
  padding: 20px;
}

.searchTerm:focus{
  color: #2b2b2b;
}

// Stuff for scrollbar;

::-webkit-scrollbar{
  width:8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #cfcfcf;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #ffffff;
}
