@font-face {
  font-family: 'Inter';
  src: url('./inter.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

.floatingbox {
  //border-style:  soli
  font-family: 'Inter';
  border-width: 2px;
  padding: 5px;
}
