.starContainer {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  flex-direction:row;
}

.star {
  /* display: inline-block; */
  /* flex-basis: 100px; */
  float: left;
  display: flex;
  /* position: relative; */
  font-size: 100px;
  color: #ddd;
  justify-content: space-around;
}

.star:after {
  flex-basis: 50px;
  flex: none;
  float: left;
  font-family: FontAwesome;
  content: "\f005";
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 25%;
  overflow: hidden;
  /* color: rgb(255, 0, 0); */
}

#mutableStar {
  flex-basis: 15px;
  float:left;
  display: flex;
}

 #mutableStar:after {
  /* float:left;
  display: flex; */
  /* border-style:double; */
  font-family: FontAwesome;
  content: "\f005";
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 40%;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

#reviewList {
  border: rgb(255, 1, 153);
  border-width:thick;
  border-style:double;
  overflow-y: scroll;
  width: 800px;
  height: 400px;
  float: right;
  /* color: rgb(18, 155, 25); */
}

.reviewBox {
  border: rgb(185, 164, 143);
  border-width:thick;
  border-style:double;
}

.reviewStars {
  display: flex;
}

.reviewNameDate {
  display: flex;
  justify-content:end;
}

.modal {
  text-align: center;
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.758); /* Black w/ opacity */
}

.modal-content {
  /* text-align: center; */
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.sliderText {
  height: 100%;
  font-size: medium;
  font-stretch: extra-expanded;
  max-width:max-content;
  border-style: double;
}
.slider {
 width:max-content;
}
.sliderBox {
  width: 400px;
}

.RnR {
  display: flex;
  /* background-color: rgb(0, 0, 0);
  color: #ddd;
  border-style: dashed;
  margin: 50px; */
  width: 800px;
}
.ratingsCard {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  text-align: left;
  float:center;
  width: 100px;
}

.reviewBar {
  color: aqua;
  accent-color: #15cd71;
  width: 200px;
  /* background: #016bff; */
}
.reviewBar::after {
  background-color: #ff0000;
}
.recAvg {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ratingsBox {
  /* background-color: #ff0000; */
  width: 300px;
}
.slider {
  width: 240px;
}

.reviewList {
  width: 800px;
}

.RnR-header {
  height: 10px;
}

.buttons {
  display:initial
}