$widthProd: percentage($number: 67);
$widthSpacer: percentage($number: 3);
$widthProdInfo: percentage($number: 30);

.overviewContainer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.gallery {
  width: $widthProd;
  height: 650px;
  position:relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.reviews {
  font-size: 12px;
}

.reviews:hover {
  text-decoration: underline;
  cursor: pointer;
}


.prodInfo {
  width: $widthProdInfo;
  margin-top: 50px;
  margin-bottom: -50px;
  height: 650px;
}

.spacer {
  width: $widthSpacer;
}

.descriptionWrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 150px;
}

.wrapperdivider {
  border-left: 2px solid grey;
  height: 144px;
  margin-left: 120px;
}

.description {
  white-space: pre-wrap;
    /* display: flex; */
    width: 5000%;
    margin-left: auto;
    /* width: auto; */
    margin-right: auto;
}

.slogantext {
  // font-weight: bold;
  margin-bottom: 15px;
  margin-right: -30px;
  font-size: 18px;
  font-weight:bolder;
  color: rgb(54, 69, 79);
}

.descriptiontext {
  color: gray;
  font-size:15px;
}

.descriptiontext:active {
  filter: brightness(0.85);
}

.cart1 {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  content: url(https://img.icons8.com/material-outlined/24/null/shopping-cart.png);
  cursor:pointer;
}

.cartmodal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.wrapperfeatures {
  margin-left: 50px;
  width: $widthProdInfo;
  font-size: 15px;
  color: gray;
}


.features {
  margin-bottom: 15px;
  margin-left: -10px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: $widthProd
}

#slider {
  position: relative;
  // margin: 50px 40px 20px auto;
  height: 100%;
  width: 100%;
  object-fit:contain;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.urlpic {
  height: 100%;
  width: 100%;
  object-fit:contain;
  display: flex;
  justify-content: center;
  border: 1px solid;
    border-color: lightgrey;
  align-items: center;
  overflow: hidden,
}

.urlpic:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

.urlpic img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.urlpic:hover {
  cursor: zoom-in;
}

.modal-lg{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.img-responsive {
  position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
    transform: scale(0.9);
    cursor: url(https://img.icons8.com/material-outlined/24/null/plus-math.png), auto;
}

.fade {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // animation: fadeIn 500ms ease-in-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.next,
.previous {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background: rgba(0, 0, 0, .01);
  color: rgba($color: #000000, $alpha: 1.0);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border: none;
}

// .nextvertical {
//   cursor: pointer;
//   position: absolute;
//   // top: 48%;
//   width: auto;
//   margin-left: 45px;
//   // padding: 16px;
//   margin-top: -22px;
//   background: rgba(0, 0, 0, .01);
//   color: rgba($color: #000000, $alpha: 1.0);
//   font-weight: bold;
//   font-size: 30px;
//   transition: 0.6s ease;
//   border: none;
//   scroll-behavior: smooth;
// }

// .previousvertical {
//   cursor: pointer;
//   position: absolute;
//   // top: 48%;
//   width: auto;
//   // padding: 16px;
//   // margin-top: -22px;
//   display: flex;
//   justify-content: flex-start;
//   background: rgba(0, 0, 0, .01);
//   color: rgba($color: #000000, $alpha: 1.0);
//   font-weight: bold;
//   font-size: 30px;
//   transition: 0.6s ease;
//   border: none;
// }

.next:hover,
.previous:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.next {
  right: 0;
}

.previous {
  left: 100px;
}

.modalnext,
.modalprevious {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background: rgba(0, 0, 0, .01);
  color: rgba($color: #000000, $alpha: 1.0);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border: none;
}

.modalnext {
  right: 0px;
}

.modalprevious {
  left: 0px;
}

.modalnext:hover,
.modalprevious:hover {
  background-color: rgba(0, 0, 0, 1);
}

#imagelist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -625px;
  margin-left: -185px;
  overflow-y:auto;
  max-height: 510px;
}

#imagelist::-webkit-scrollbar {
  display: none;
}

#modalimagelist {
  position: absolute;
	background: rgba(0, 0, 0, 0);
	display: flex;
  // height: 0vh;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
  bottom: 0;
  // height: 110px;
  align-self: center;
}

.modalimage .modallistpic {
  border: .5px solid #fff;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    // opacity: 0.6;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }

.present,
.modalimage:hover {
  fill-opacity: white;
    opacity: 0.5;
}

.image {
  // z-index: -1;
  position: relative;
  cursor: pointer;
  width: 50px;
  margin: 0 219.5px 20px;
  background-color: #ccc;
  /* border-radius: 50%; */
  display: inline-block;
  transition: 0.5s;
}

.zoomedimage {
  width: 1500px;
  margin: 0 auto;
  // border: 2px solid black;
  display: flex;
}

.img-larger {
  margin: 10px;
  overflow: hidden;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.zoom {
  width: 100%;
  height: 100%;
}

.checkedBox {
  width: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 50%;
}

.zoom:hover {
  transform: scale(1.6);
  cursor: url(https://img.icons8.com/material-outlined/24/null/minus-math.png), auto;
  transition: transform 250ms;
}

.zoom:not(:hover) {
  transform: scale(1);
  cursor: zoom-in;
  transition: transform 250ms;
}

.listpic {
  width: 50px;
  height: 50px;
}

.active,
.image:hover {
  border: solid;
  border-color: black;
  border-width: 1px;
  opacity: 0.5;
}

.shareButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.category {
  font-size: .875rem;
  line-height: 1.4285714286;
  font-weight: 500;
}

.itemName {
  margin-top: 5px;
  margin-bottom: 18.5px;
  font-size: 2.25rem;
  letter-spacing: 0.007em;
}

.quantity {
  list-style-type: none;
}

// .stylesSelector {
//   width: "200px";
//   height: "125px"
// }

.sale{
  &--on {
    color: red;
  }
}

.selecStyleon {
  cursor:pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 50%;
  width: 23%;
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.1);
}

.selecStyleoff {
  cursor:pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 50%;
  width: 23%;
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.1);
}

.layover {
  // z-index: 1;
  position: absolute;
  display: flex;
  align-self: flex-start;
  margin-left: -60px;
}

.selectorGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.thumbnail {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.cheka {

}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
}


#sizeList {
  font-weight: bold;
  height: 60px;
  width: 229px;
  border: solid;
  border-width: .5px;
  // border-radius: 8px;
  // box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 25px;
  padding: 10px;
}

#sizeList .outofstock {
  pointer-events: none;
}

.cats {
  margin-bottom: 10px;
}

#quantityList {
    font-weight: bold;
    height: 60px;
    width: 100px;
    border: solid;
    border-width: .5px;
    // border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#addToBag {
  width: 100%;
  height: 60px;
  background: white;
  border: solid;
  border-width: .5px;
  padding: 18px 24px;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  outline: none;
}

