$widthProd: percentage($number: 70);
$widthProdInfo: percentage($number: 30);

.overviewContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.gallery {
  width: $widthProd;
  position: relative;
}

.prodInfo {
  width: $widthProdInfo;
  margin-top: 60px;
}

.quantity {
  list-style-type: none;
}

#sizeList {
    font-weight: bold;
    height: 60px;
    width: 140px;
    // border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
}

#quantityList {
    font-weight: bold;
    height: 60px;
    width: 54px;
    // border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
}